numpy>=1.24.3, <2
pandas>=2.2
caf.toolkit>=0.4.0
h5py>=3.9.0
pydantic>=2.7
scipy>=1.11.3
strictyaml>=1.7.3

# PyTables package has different names in conda-forge and PyPI
# - PyPi: tables
# - conda-forge: pytables
tables>=3.9.1
